h1 {
  margin: 0;
  font-family: 'Sacramento', cursive;
  font-size: 5.2rem;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.5rem;
  margin-top: 10px;;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;

}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  background-color: #ffe2bc;
  position: relative;
  padding: 100px;
}

.middle-container {

}

.bottom-container {

}

span {
  text-decoration: underline;

}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  border: 300px;
  left: 300px;
}
