h1{
  margin: 0;
}
body{
  margin: 0;
  text-align: center;

}


.top-container{
  background-color: #ffe2bc;
  position: relative;
  padding: 100px;
}
.middle{
  height: 200px;
  width: 200px;
  background-color: red;
  margin: 0;
}

.bottom{
  height: 200px;
  margin: 0;
  width: 200px;
  background-color: green;
}
span{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;

}


.bottom-cloud{
  position: absolute;
  border: 300px;
  left: 300px;

}
